.yellow
{
    transition: 2s;
    background-image:
    linear-gradient(to bottom, rgba(0, 0, 0, 0), rgba(212, 251, 58, 0.589)),
    url('Hitman.jpg');
   opacity:1;
    background-size: cover;
    color: white;
   
    z-index: 1;
}
.green
{ transition: 2s;
    background-image:
    linear-gradient(to bottom, rgba(0, 0, 0, 0), rgba(99, 207, 70, 0.589)),
    url('Hitman.jpg');
   
    background-size: cover;
    color: white;
   
    z-index: 1;
}
.blue{
    transition: 2s;
    background-image:
    linear-gradient(to bottom, rgba(0, 0, 0, 0), rgba(84, 129, 243, 0.589)),
    url('Hitman.jpg');
   opacity:1;
    background-size: cover;
    color: white;
   
    z-index: 1;
}